{% extends 'base.html' %}

{% block content %}
<section class="hero">
    <h2>System Information Monitor</h2>
    <p>Current system metrics are displayed below.</p>

    <div class="system-info-container">
        <h3>System Information</h3>
        <table class="system-info">
            <tr>
                <td>Chip ID:</td>
                <td>{{ system_info.chip_id }}</td>
            </tr>
            <tr>
                <td>CPU Frequency:</td>
                <td>{{ system_info.cpu_frequency }}</td>
            </tr>
            <tr>
                <td>Free Heap:</td>
                <td>{{ system_info.free_heap }}</td>
            </tr>
            <tr>
                <td>Sketch Size:</td>
                <td>{{ system_info.sketch_size }}</td>
            </tr>
            <tr>
                <td>Flash Chip Size:</td>
                <td>{{ system_info.flash_chip_size }}</td>
            </tr>
            <tr>
                <td>Flash Chip Speed:</td>
                <td>{{ system_info.flash_chip_speed }}</td>
            </tr>
            <tr>
                <td>SDK Version:</td>
                <td>{{ system_info.sdk_version }}</td>
            </tr>
            <tr>
                <td>Reset Reason:</td>
                <td>{{ system_info.reset_reason }}</td>
            </tr>
        </table>
    </div>

    <button id="api-btn">Test API</button>
    <div id="api-result"></div>
</section>
{% endblock %}